/* font-family: 'Roboto', sans-serif; */

* {
    text-decoration: none;
    list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: #E5E5E5;
}

a,
button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}


/* SECTION 1 */

.section--1 {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #000;
}

.logo {
    position: absolute;
    left: 25.13px;
    top: 27.13px;
}

.logo a {
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    font-size: 16px;
}

.hamburger {
    margin: 0px;
    padding: 0px;
    border: none;
    background: transparent;
    height: 24px;
    width: 46px;
    position: absolute;
    top: 25.5px;
    right: 24px;
    z-index: 99999;
    transition: linear .2s opacity;
}

.hamburger:hover {
    opacity: .7;
}

.hamburger img {
    height: 24px;
    width: 46px;
}

.closeIcon {
    display: none;
}


/* MENU */

.menu {
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.2s;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: #777B60;
    /* display: none; */
    overflow-y: auto;
    z-index: 999;
}

.showMenu {
    transform: translateX(0);
}

.logo--menu {
    position: sticky;
    left: 25.13px;
    top: 27.13px;
    width: fit-content;
}

.logo--menu a {
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    font-size: 16px;
}

.menu__inner {
    padding: 164px 0px 0px;
}

.menu__item {
    border-top: solid rgba(0, 0, 0, 0.8) 1px;
    padding: 14px 0px 20px;
}

.menu__item:last-child {
    border-bottom: solid rgba(0, 0, 0, 0.8) 1px;
}

.menu__item a {
    font-weight: 500;
    font-size: 72px;
    line-height: 86px;
    color: #000;
    display: flex;
    padding-left: 169px;
    transition: opacity .2s linear;
}

.menu__item a:hover {
    opacity: .7;
}

.item__number {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 14px 14px 0px 0px;
}

.social__links {
    display: flex;
    bottom: 24px;
    right: 142px;
    width: 310px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.9);
    margin: 172px 142px 24px auto;
}

.social__links a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.9);
    border-bottom: solid 1px rgba(0, 0, 0, 0.6);
    transition: linear .2s opacity;
}

.social__links a:first-child {
    margin-right: 23px;
}

.social__links a:hover {
    opacity: .7;
}


/* MENU */


/* CLIENTS */

.clients__menu {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: #000;
    color: #fff;
    /* display: none; */
    overflow-y: auto;
}

.clients__menu .logo--menu a {
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
}

.clients__menu .menu__item {
    border-top: solid rgba(255, 255, 255, 0.8) 1px;
    padding: 28px 0px 28px;
}

.clients__menu .menu__item:last-child {
    border-bottom: solid rgba(255, 255, 255, 0.8) 1px;
}

.clients__menu .menu__item a {
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    color: #FFFFFF;
    display: flex;
    padding-left: 169px;
    transition: opacity .2s linear;
}

.clients__menu .social__links,
.clients__menu .social__links a {
    color: #fff;
}

.clients__menu .social__links a {
    border-bottom: solid 1px rgba(255, 255, 255, 0.6);
}

.clients__inner {
    padding: 130px 0px 0px;
}

.clients__menu__img {
    position: absolute;
    width: 433px;
    height: auto;
    right: 168px;
    top: 240px;
}


/* CLIENTS */

@media screen and (max-width: 1366px) {
    /* MENU */
    .menu .menu__inner {
        padding: 100px 0px 0px;
    }
    .menu .menu__item a {
        font-size: 43px;
        line-height: 40px;
    }
    .menu .item__number {
        font-size: 12px;
        margin: 4px 14px 0px 0px;
    }
    /* MENU */
    /* Clients */
    .clients__menu .menu__item {
        padding: unset;
    }
    .clients__menu .menu__item a {
        font-size: 38px;
        line-height: 82px;
    }
    .clients__menu .item__number {
        font-size: 14px;
        line-height: 16px;
        margin: 24px 14px 0px 0px;
    }
    /* Clients */
}

@media screen and (max-width: 1250px) {
    .clients__menu .menu__item a {
        padding-left: 120px;
    }
    .clients__menu__img {
        width: 320px;
        right: 120px;
        top: 225px;
    }
}

@media screen and (max-width: 1000px) {
    .clients__menu__img {
        display: none;
    }
}

@media screen and (max-width: 770px) {
    .social__links {
        margin: 172px auto 24px;
    }
    .menu__item a {
        padding-left: unset;
        width: 195px;
        margin: auto;
    }
    .clients__menu .menu__item a {
        padding-left: unset;
        width: 420px;
    }
}

@media screen and (max-width: 480px) {
    .clients__menu .menu__item a {
        font-size: 28px;
        line-height: 66px;
        width: 320px;
    }
}